.app_main {
  text-align: center;
  margin-top: 100px;
}
.app_header {
  color: #14a696;
}
.app_input {
  border: 1px solid #aaa;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  font-size: 18px;
}
.app_home {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.app_home_button {
  width: 180px;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.app_home_button:hover {
  background-color: #66ddcf;
}